.shop {
    padding: 20px 0;
}

.menu__bar {
    display: none;
    font-size: 30px;
}

.filter {
    font-weight: 500;
    font-size: 16px;
}

.menu__collapse {
    padding: 0 40px;
    position: sticky;
    top: 180px;

    &--filter ul {
        text-transform: capitalize;
        margin-left: 15px;
        & li:hover {
            color: #ee4d2d;
            cursor: pointer;
            transition: .8s;
        }
    }
}