.productAdmin__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;;
}

.productAdmin__input {
    width: 475px;
}

.productAdmin__input2 {
    width: 315px;
}