.productDetails {
    padding: 50px 0;

    .productDetails__img {
        width: 100%;

        &--select {
            img {
                max-width: 100px;

                &:hover {
                    border: 2px solid red;
                    opacity: .5;
                }
            }

        }

    }

    .productDetails__details {
        width: 100%;
        margin-left: 16px;

        &--title {
            font-size: 28px;
            font-weight: 500;
            color: #ee4d2d;
        }

        &--rate {
            display: flex;
            align-items: center;

        }

        .productDetails__details--star span {
            font-size: 16px;
            font-weight: bold;
        }

        .productDetails__details--sold span {
            font-size: 16px;
            font-weight: bold;
        }

        &--info div {
            margin: 10px 0;

            strong {
                display: inline-block;
                width: 50px;
                margin-right: 50px;
            }
        }

        &--infoPrice {
            color: red;
            font-size: 24px;
            font-weight: 500;
        }

        &--infoPriceSale {
            margin-left: 8px;
            color: #aaa;
            font-size: 20px;
            text-decoration: line-through;
        }

        &--infoType {
            text-transform: uppercase;
            font-weight: bold;
        }

        &--btn {
            display: flex;
            justify-content: flex-start;
        }

        &--des div {
            font-weight: bold;

            p {
                font-weight: normal;
                padding: 10px;
                font-size: 16px;
                line-height: 2;
            }
        }

    }
}