.card {
    width: 100%;

    .card__title {
        font-size: 16px;
        font-weight: bolder;
        height: 50px;
        overflow: hidden;
        color: #ee4d2d;

        &:hover {
            opacity: .6;
        }
    }

    .card__des {
        font-size: 15px;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .card__price {
        font-size: 20px;
        font-weight: bold;
        color: red;

        .card__price--old {
            margin-left: 4px;
            text-decoration: line-through;
            color: #aaa;
            font-size: 16px;
        }
    }

    .card__rate {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card__sold {
        font-size: 14px;
        font-weight: normal;
        float: right;
        color: #000;
    }
}

.test_img {
    height: 335px;
    position: relative;

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}