.admin {
  // padding: 20px;
}

.admin__menu {
  // width: 100%;
  height: 100vh;

  &--menu {
    color: red;

    ul li {
      list-style-type: none;
      margin: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.admin__main {
  // height: 100vh;

  &--header {
    font-size: 28px;
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/*
<ul>
                <li>
                  <Link to='/'>
                    <DesktopOutlined style={{ marginRight: '10px' }} />Dashboard
                  </Link>
                </li>
                <li>
                  <Link to='/'>
                    <UserOutlined style={{ marginRight: '10px' }} />Account
                  </Link>
                </li>
                <li>

                  <DesktopOutlined style={{ marginRight: '10px' }} />
                  Product
                  <ul>
                    <li>
                      <Link to='/'>
                      <DesktopOutlined style={{ marginRight: '10px' }} />
                      Tech
                      </Link>
                    </li>
                    <li>
                      <Link to='/'>
                      <DesktopOutlined style={{ marginRight: '10px' }} />
                      Clothes
                      </Link>
                    </li>
                    <li>
                      <Link to='/'>
                      <DesktopOutlined style={{ marginRight: '10px' }} />
                      Books
                      </Link>
                    </li>
                  </ul>
                </li>
              </ul>
*/